github "airbnb/lottie-ios" ~> 2.5.0
github "Instagram/IGListKit" ~> 3.0
github "Alamofire/AlamofireImage" ~> 3.3
github "alexaubry/BulletinBoard" ~> 2.0.1
github "PaoloCuscela/Cards" ~> 1.3.2
github "soffes/GradientView" ~> 2.3.3
github "evgenyneu/Cosmos" ~> 16.0